---
layout: algo/default
---
<section class="section blog-post" id="blogs">
 <div class="section-header" data-enable-current>
  <h2 class="section-heading">#Insight Hub</h2>
  <p class="section-subtitle">A curated collection of my writings, insights, and published work from different platforms.</p>
  <div class="section-bar">
    <p></p>
    <a href="/" class="view-all"> &lt;~~ Back</a>
  </div>
</div>
  <div class="blog-container">
    <div data-blog-filter></div>
    <!-- Top Pagination -->
    <div class="pager" data-blog-pager></div>
    <!-- Blog Posts Grid -->
    {{content}}
    <!-- Bottom Pagination -->
    <div class="pager" data-blog-pager></div>
  </div>
</section>
