<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- -->
    {% include head.html %}
    <!-- -->
    {% include algo/import-css.html %}
    <!-- -->
    {% include import-css.html %}
  </head>
  <body data-layout="algo" data-theme="charcoal">
    {% include loader.html size=7 gap=10 radius=3 %}
    <div class="page-container">
      <aside class="left-sidebar-card">{% include algo/details/info.html %}</aside>
      <main class="main-content">
        {{ content }} {% unless page.url == "/algo/contact/" or page.url contains '/blogs/' %}
        <section class="section last-section" id="contact">
          <!-- Universe Section -->
          {% include algo/details/contact.html %}
          <!-- Universe Section -->
          {% include algo/details/footer.html %}
        </section>
        {% else %} {% include algo/details/footer.html %} {% endunless %}
      </main>
      <aside class="right-sidebar-card">{% include algo/header.html %}</aside>
    </div>
    <div data-submenu-item></div>
    <!-- -->
    {% include import-js.html %}
    <!-- -->
    {% include algo/import-js.html %}
    <!-- -->
    {% include import-initjs.html %}
  </body>
</html>
