---
---
<!-- iam Section -->
{% include algo/details/iam.html %}
<div class="universe" data-universe>
  <div class="universe-track" data-universe-track>
    <!-- Universe Section -->
    {% include algo/details/universe.html %}
    <div class="universe-sections">
      <!-- stack Section -->
      {% include algo/details/stack.html %}
      <!-- learning Section -->
      {% include algo/details/learning.html %}
      <!-- kudos Section -->
      {% include algo/details/kudos.html %}
      <!-- journey Section -->
      {% include algo/details/journey.html %}
      <!-- blogs Section -->
      <section class="section universe-section" id="blogs">{% include algo/details/blogs.html %}</section>
      <!-- dev Section -->
      {% include algo/details/dev.html %}
      <!-- about Section -->
      {% include algo/details/about.html %}
    </div>
  </div>
</div>