footer {
  border-top: var(--border-1) solid var(--border, #333333);
  padding: var(--padding-lg);
  margin-top: var(--margin-2xl);
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-text {
  font-size: var(--fontSize-sm);
  color: var(--textTertiary, #d0d0d0);
  max-width: 37.5rem;
  padding: var(--padding-xl) 0;
}
.footer-msg {
  text-align: center;
  font-size: var(--fontSize-sm, 0.8rem);
  color: var(--textSecondary, #b0b0b0);
}
.social-links {
  display: flex;
  gap: var(--gap-lg);
  margin-top: var(--margin-md);
}
.social-links a {
  color: var(--textPrimary, #ffffff);
  text-decoration: none;
  font-size: var(--fontSize-lg);
  transition: var(--transition-base);
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
  width: max-content;
}
.social-links a:hover {
  opacity: 0.7;
}
