<style>
  html,
  body {
    background-color: var(--background, #1a1a1a);
  }
</style>
<meta charset="UTF-8" />
<meta http-equiv="Cache-Control" content="max-age=31536000, public" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- replaceable start -->

<meta name="description"  content="{{ page.params.desc | default: page.desc }} | {{ site.description }}" />
<meta name="author" content="{{ page.params.author | default: page.title }} | {{ site.title }}" />
<meta name="theme" content="charcoal" />
<title>{{ page.params.title | default: page.title }} | {{ site.title }}</title>
<!-- SEO Tags -->
{% seo %}

<!-- Favicon -->
<link rel="icon" type="image/png" href="{{ '/assets/images/favicon.png' | absolute_url }}" />

<!-- Open Graph Meta Tags -->
<meta property="og:title" content="{{ page.params.title | default: page.title }} | {{ site.title }}" />
<meta property="og:description"  content="{{ page.params.desc | default: page.desc }} | {{ site.description }}" />
<meta property="og:type" content="{{ page.type | default: 'website' }}" />
<meta property="og:url" content="{{ page.url | absolute_url }}" />
{% assign query = "" %}

{% if page.params %}
  {% for p in page.params %}
    {% assign key = p[0] | url_encode %}
    {% assign value = p[1] | url_encode %}
    {% if forloop.first %}
      {% assign query = query | append: "?" %}
    {% else %}
      {% assign query = query | append: "&" %}
    {% endif %}
    {% assign query = query | append: key | append: "=" | append: value %}
  {% endfor %}
{% endif %}

<meta property="og:image" content="{{ site.og_image | append: query | absolute_url }}">

<!-- Twitter Card Meta Tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ page.params.title | default: page.title }} | {{ site.title }}" />
<meta name="twitter:description"  content="{{ page.params.desc | default: page.desc }} | {{ site.description }}" /> 
<meta name="twitter:image" content="{{ site.og_image | append: query}}" />

<!-- replaceable end -->

<!-- Stylesheets -->

<!-- Font Preconnect -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Fira+Code:wght@400;500&display=swap" rel="stylesheet" />
