<style>
  html,
  body {
    background-color: var(--background, #1a1a1a);
  }
</style>
<meta charset="UTF-8" />
<meta http-equiv="Cache-Control" content="max-age=31536000, public" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<meta name="description" content="{{ page.description | default: site.description }}" />
<meta name="author" content="{{ site.title }}" />
<meta name="theme-color" content="#0F172A" />
<title data-keep>{{ page.title }} | {{ site.title }}</title>
<!-- SEO Tags -->
{% seo %}

<!-- Favicon -->
<link rel="icon" type="image/png" href="{{ '/assets/images/favicon.png' | absolute_url }}" />

<!-- Open Graph Meta Tags -->
<meta property="og:title" content="{{ page.title }} | {{ site.title }}" />
<meta property="og:description" content="{{ page.description | default: site.description }}" />
<meta property="og:type" content="{{ page.type | default: 'website' }}" />
<meta property="og:url" content="{{ page.url | absolute_url }}" />
{% assign query = "" %}
{% for p in include.params %}
  {% assign key = p[0] | url_encode %}
  {% assign value = p[1] | url_encode %}
  {% assign query = query | append: forloop.first | ternary: "?", "&" | append: key | append: "=" | append: value %}
{% endfor %}
<meta property="og:image" content="{{ site.og_image | append: query}}" />

<!-- Twitter Card Meta Tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ page.title }} | {{ site.title }}" />
<meta name="twitter:description" content="{{ page.description | default: site.description }}" />
<meta name="twitter:image" content="{{ '/assets/images/og-image.png' | absolute_url }}" />

<!-- Stylesheets -->

<!-- Font Preconnect -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Fira+Code:wght@400;500&display=swap" rel="stylesheet" />
