 {% assign layout = page.layout | split: "/" | first %}
<link rel="preload" href="{{ site.baseurl }}/assets/css/all.min.css?v={{ layout }}" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
<noscript><link rel="stylesheet" href="{{ site.baseurl }}/assets/css/all.min.css?v={{ layout }}"></noscript>
{% if page.stylesheets %}
  {% if page.stylesheets.size %}
    {% for stylesheetFile in page.stylesheets %}
      <link rel="preload" href="{{ site.baseurl }}/assets/css/{{layout}}/{{ stylesheetFile }}.css?v={{ site.version }}" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
      <noscript><link rel="stylesheet" href="{{ site.baseurl }}/assets/css/nexa/{{ stylesheetFile }}.css?v={{ site.version }}"></noscript>
    {% endfor %}
  {% else %}
     <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/{{layout}}/{{ page.stylesheets }}.css?v={{ site.version }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
     <noscript><link rel="stylesheet" href="{{ site.baseurl }}/assets/css/{{layout}}/{{ page.stylesheets }}.css?v={{ site.version }}"></noscript>
  {% endif %}
{% endif %}
{% if page.basestyle %}
  {% if page.basestyle.size %}
    {% for stylesheetFile in page.basestyle %}
      <link rel="preload" href="{{ site.baseurl }}/assets/css/{{ stylesheetFile }}.css?v={{ site.version }}" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
      <noscript><link rel="stylesheet" href="{{ site.baseurl }}/assets/css/{{ stylesheetFile }}.css?v={{ site.version }}"></noscript>
    {% endfor %}
  {% else %}
     <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/{{ page.basestyle }}.css?v={{ site.version }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
     <noscript><link rel="stylesheet" href="{{ site.baseurl }}/assets/css/{{ page.basestyle }}.css?v={{ site.version }}"></noscript>
  {% endif %}
{% endif %}
{% if layout != 'common' && layout != '' %}
<link rel="preload" href="{{ site.baseurl }}/assets/css/{{layout}}/common.css?v={{ site.version }}" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
<noscript><link rel="stylesheet" href="{{ site.baseurl }}/assets/css/{{layout}}/common.css?v={{ site.version }}"></noscript>
<link rel="preload" href="{{ site.baseurl }}/assets/css/{{layout}}/responsive.css?v={{ site.version }}" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
<noscript><link rel="stylesheet" href="{{ site.baseurl }}/assets/css/{{layout}}/responsive.css?v={{ site.version }}"></noscript>
{% endif %}