---
layout: nexa/default
---
<section class="section reveal blog-post" id="blogs">
  <div class="section-header">
    <h2 class="section-title">#blogs</h2>
    <div class="section-bar"><p></p></div>
    <a href="/" class="view-all" data-enable-current> &lt;~~ Back</a>
  </div>
  <div class="blog-container">
    <div data-blog-filter></div>
    <!-- Top Pagination -->
    <div class="pager" data-blog-pager></div>
    <!-- Blog Posts Grid -->
    {{content}}
    <!-- Bottom Pagination -->
    <div class="pager" data-blog-pager></div>
  </div>
</section>
