<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- -->
    {% include head.html %}
    <!-- -->
    {% include import-css.html %}
    <!-- -->
    {% include nexa/import-css.html %}
  </head>
  <body data-layout="nexa" data-theme="charcoal">
    {% include loader.html size=7 gap=10 radius=3 %} {% include nexa/decorators/social.html %}
    <div class="page-container">
      {% include nexa/header.html %}
      <main class="main-content">{{ content }}</main>
      {% include nexa/footer.html %}
    </div>
    <!-- -->
    {% include import-js.html %}
    <!-- -->
    {% include nexa/import-js.html %}
    <!-- -->
    {% include import-initjs.html %}
  </body>
</html>
