<div class="section-inner-background">
    {% include nexa/decorators/grid.html rows=5 cols=5 gap=15 svg_class="learning-top-grid" %}
      {% include nexa/decorators/grid.html rows=4 cols=4 gap=15 svg_class="learning-bottom-grid" %}
     {% include nexa/decorators/union.html width=110 height=110 svg_class="learning-bottom-union" %}
       {% include nexa/decorators/rect.html width=100 height=100 svg_class="learning-top-rect" %}
         {% include nexa/decorators/rect.html width=80 height=80 svg_class="learning-bottom-rect" %}
</div>