<section id="iam-content" class="section" data-tab-section>
  <div class="hero-content">
    <h1>
      <span class="name" data-iam="short_name"></span> is a <span class="highlight" data-iam="title"></span> and<br />
      <span class="highlight" data-iam="subtitle"></span>
    </h1>
    <p class="hero-desc" data-iam="description"></p>
    <div class="info-grid">
      <div class="info-item">
        <div class="info-icon fa fa-lg fa-regular">
          &#xf007;
        </div>
        <div class="info-details">
          <h4>Full Name</h4>
          <div class="contact-detail" data-iam="name"></div>
        </div>
      </div>
      <div class="info-item">
        <div class="info-icon fa fa-lg fa-regular">&#xf133;
        </div>
        <div class="info-details">
          <h4>Date of Birth</h4>
          <div class="contact-detail" data-iam="dob"></div>
        </div>
      </div>
      <div class="info-item">
        <div class="info-icon fa fa-lg">
         &#xf3c5;
        </div>
        <div class="info-details">
          <h4>Location</h4>
          <div class="contact-detail" data-iam="location"></div>
        </div>
      </div>
      <div class="info-item">
        <div class="info-icon fa fa-lg">
         &#xf4fe;
        </div>
        <div class="info-details">
          <h4>Role</h4>
          <div class="contact-detail" data-iam="role">Sr. Analyst || Software Engg.</div>
        </div>
      </div>
    </div>
  </div>
</section>
