---
---
.tabs-wrapper {
  background: transparent;
}
.tabs {
  display: flex;
  overflow-x: overlay;
  padding-bottom: var(--padding-sm, 0.5rem);
}
.tab {
  flex: 1;
  padding: var(--padding-md, 1rem) var(--padding-md, 1rem);
  text-align: center;
  cursor: pointer;
  position: relative;
  color: var(--textPrimary, #ffffff);
  transition: color var(--transition-base);
  border: none;
  background: none;
  font-size: var(--fontSize-lg);
  font-weight: 500;
}
.tab.active {
  background: linear-gradient(90deg, var(--accent, #e0e0e0), var(--primary, #ffffff));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.tab::after {
    content: "";
    position: absolute;
    bottom: calc(8 * var(--border-1, 0.0625rem));
    left: 50%;
    transform: translateX(0%);
    width: 0;
    height: calc(var(--space-1) / 1.5);
    background: linear-gradient(90deg, var(--primary, #ffffff) 0%, var(--accent, #e0e0e0) 100%);
    transition: width var(--transition-base), transform var(--transition-base);
}
.tab.active::after {
  transform: translateX(-50%);
  width: 80%;
}
