.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--surfaceOpacity);
  z-index: var(--z-modal);
  animation: fadeIn var(--animation-slow) ease;
  align-items: center;
  justify-content: center;
}
.modal-overlay.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-container {
  background: var(--surface);
  width: 90%;
  max-width: 75rem;
  max-height: 90vh;
  border-radius: var(--radius-md);
  box-shadow: 0 0 var(--space-3) var(--shadow-primary-subtle);
  display: flex;
  flex-direction: column;
  animation: slideUp var(--animation-slow) ease;
  position: relative;
}
.modal-header {
  padding: var(--padding-lg);
  border-bottom: var(--border-1) solid var(--border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}
.modal-header h2 {
  font-size: var(--fontSize-lg);
  font-weight: 600;
  color: var(--primary);
  margin: 0;
}
.close-button {
  background: none;
  border: none;
  font-size: var(--fontSize-3xl);
  color: var(--primary);
  cursor: pointer;
  padding: 0;
  width: var(--space-8);
  height: var(--space-8);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-md);
  transition: all 0.2s;
}
.close-button:hover {
  background: var(--primary);
  color: var(--textPrimary);
}
.modal-body {
  padding: var(--padding-lg);
  overflow-y: auto;
  flex: 1;
}
.modal-content{
  min-height: var(--space-24);
  position: relative;
}
.comment-icon {
  font-size: var(--fontSize-base);
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 768px) {
  .modal-container {
    width: 95%;
    max-height: 90vh;
  }
  .modal-header {
    padding: var(--padding-md);
  }
  .modal-body {
    padding: var(--padding-md);
  }
}
