<section class="section reveal" id="contact">
  <div class="section-header">
    <h2 class="section-title">#contacts</h2>
    <div class="section-bar"><p></p></div>
    <a href="/" class="view-all" data-enable-current> &lt;~~ Back</a>
  </div>
  <div class="contact-content">
    <div class="contact-text fade-left" data-remove-current-class="fade-left" data-contacts-info></div>
    <div class="contact-info fade-right" data-remove-current-class="fade-right" data-contacts></div>
    {% include nexa/decorators/contact.html %}
  </div>
  <div class="contact-form" data-contact-form data-enable-current></div>
  <a href="/contact" class="btn" data-disable-current>Send a message ~~&gt;</a>
</section>
