<section class="section reveal" id="journey">
  <div class="section-header">
    <h2 class="section-title">#experiance</h2>
    <div class="section-bar"><p></p></div> 
    <a href="/journey" class="view-all" data-disable-current>View all ~~&gt;</a>
    <a href="/" class="view-all" data-enable-current>&lt;~~ Back</a>
  </div>
  <div class="experience-content">
    <div class="experience-slider zoom" data-apply-current-class="full-view-journey-slider" data-remove-current-class="experience-slider zoom">
      <div class="experience-track" data-experience data-apply-current-class="full-view-journey slider-none">
        <!-- Experience will be populated here dynamically -->
      </div>
    </div>
  </div>
  <div class="pager-controls" data-experience-pager data-disable-current>
  </div>
  {% include nexa/decorators/journey.html %}
</section>