<section class="section reveal" id="learning">
  <div class="section-header">
    <h2 class="section-title">#education</h2>
    <div class="section-bar"><p></p></div>
    <a href="/learning" class="view-all" data-disable-current>View all ~~&gt;</a>
    <a href="/" class="view-all" data-enable-current> &lt;~~ Back</a>
  </div>
  <div class="education-content">
    <div class="education-text fade-left" data-remove-current-class="fade-left" data-education>
      <!-- Education will be populated here dynamically -->
    </div>
    <div class="education-image fade-right" data-remove-current-class="fade-right">{% include nexa/decorators/learning.html %}</div>
  </div>
</section>
