<section class="section reveal" id="stack">
  <div class="section-header">
    <h2 class="section-title">#skills</h2>
    <div class="section-bar"><p></p></div>
    <a href="/stack" class="view-all" data-disable-current>View all ~~&gt;</a>
    <a href="/" class="view-all" data-enable-current> &lt;~~ Back</a>
  </div>
  <div class="skills-content">
    <div class="skills-image fade-left" data-remove-current-class="fade-left">{% include nexa/decorators/stack.html %}</div>
    <div class="skills-grid fade-right" data-remove-current-class="fade-right" data-skills>
      <!-- Skills will be populated here dynamically -->
    </div>
  </div>
</section>
