---
---
<!-- iam Section -->
{% include nexa/details/iam.html %}
<!-- Projects Section -->
{% include nexa/details/dev.html %}
<!-- Skills Section -->
{% include nexa/details/stack.html %}
<!-- Experience Section -->
{% include nexa/details/journey.html %}
<!-- Education Section -->
{% include nexa/details/learning.html %}
<!-- Achievements Section -->
{% include nexa/details/kudos.html %}
<!-- About Section -->
{% include nexa/details/about.html %}
<!-- Contact Section -->
{% include nexa/details/contact.html %}
