<div class="section-header" data-enable-current>
  <h2 class="section-heading">#Say hello — I’m always happy to connect and chat</h2>
  <p class="section-subtitle">Available for meaningful conversations and exciting opportunities.</p>
  <div class="section-bar">
    <p></p>
    <a href="/" class="view-all"> &lt;~~ Back</a>
  </div>
</div>
<div class="contact-content">
  <div class="contact-text" data-contacts-info></div>
  <div class="contact-info" data-contacts></div>
</div>
<div class="contact-form" data-contact-form></div>
<a href="/contact" class="btn" data-disable-current>Send a message ~~&gt;</a>
