.skills-content {
  display: flex;
  gap: var(--gap-3xl);
  align-items: center;
}

.skills-image {
  flex: 3;
  position: relative;
  min-height: 35rem;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-xl);
  flex: 9;
}

.skill-category {
  border: var(--border-2) solid var(--border, #2a2a2a);
  transition: var(--transition-base);
  min-width: 15rem;
  max-width: fit-content;
  height: fit-content;
}

.skill-category:hover {
  border-color: var(--primary, #00ffcc);
  transform: translateY(calc(-1 * var(--space-1))) !important;
}

.skill-category h3 {
  color: var(--textPrimary, #e6e6e6)
  font-size: var(--fontSize-lg);
  margin-bottom: var(--margin-sm);
  padding: var(--padding-md);
  background: rgb(from var(--cardHeader, #000000) r g b / 0.2);
  border-bottom: var(--border-1) var(--border, #2a2a2a) solid;
}

.skill-list {
  list-style: none;
  padding: var(--padding-lg);
  height: calc(100% - 4rem);
}

.skill-list li {
  padding: var(--space-1) 0;
  font-size: var(--fontSize-md, 0.9rem);
  color: var(--textSecondary, #888888);
  display: flex;
  gap: var(--gap-xl);
  align-items: center;
}

.skill-level {
  margin-left: auto;
  display: inline-block;
  border: var(--border-1) solid var(--border, #2a2a2a);
  padding: var(--space-1) var(--padding-sm);
  margin-right: var(--margin-sm);
  margin-bottom: var(--space-1);
  display: flex;
  align-items: center;
  font-size: var(--fontSize-xs);
}

.skill-level::before {
  width: 0;
  height: 0;
  border: 0.1rem solid;
  content: "";
  margin: var(--border-2) var(--padding-sm);
  border-left: var(--space-1) solid;
  border-right: var(--space-1) solid;
  border-bottom: var(--space-2) solid;
  border-color: transparent;
  position: relative;
}

.expert::before {
  border-bottom: var(--space-2) solid var(--diamond);
  top: 0;
}

.proficient::before {
  border-bottom: var(--space-2) solid var(--gold);
  top: 0;
}

.intermediate::before {
  border-top: var(--space-2) solid var(--silver);
  bottom: calc(-1 * var(--space-1));
}

.beginner::before {
  border-top: var(--space-2) solid var(--bronze);
  bottom: calc(-1 * var(--space-1));
}

.stack-top-grid {
  top: 15%;
  left: 0%;
}

.stack-bottom-grid {
  top: 35%;
  right: 30%;
}

.stack-top-rect {
  top: 15%;
  left: 75%;
}

.stack-bottom-rect {
  right: 0;
  bottom: 10%;
}

.stack-bottom-union {
  bottom: 13%;
  left: 4%;
}